body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}


.navbar {
  background-color: rgb(230, 8, 8);
  color: #fff;
  padding: 10px 20px;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #030202;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-box {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.details {
  display: none; /* Initially hide the details */
}

li:hover .details {
  display: block; /* Show the details when the parent li element is hovered over */
}
